/* Global Layout Set-up */

body {
  font-family: 'Overpass', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

input {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
}

img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lg-sub-html p {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
  form {
    width: 48%;
    margin: 0 auto;
  }
  img {
    width: 20%;
    margin: 15px;
  }
  .lg-sub-html p {
    margin-bottom: 5px;
  }
}